<div (window:resize)="refreshCharts()" class="d-flex justify-content-center">
  <h1>Analytics Dashboard</h1>
</div>
<div *ngIf="this.transferTypeFreq.dataTable else loading" class="charts">
  <div class="mat-elevation-z3">
    <h2>
      Number of Transactions Date wise with Type of transaction
    </h2>
    <google-chart [data]="transferTypeFreq"></google-chart>
  </div>
  <div class="mat-elevation-z3">
    <h2>Success-Failure Rate</h2>
    <google-chart [data]="successFailure"></google-chart>
  </div>
  <div class="mat-elevation-z3 full-page">
    <h2>Top 5 Customers and Transaction Amount</h2>
    <google-chart [data]="topCustomers"></google-chart>
  </div>
  <div class="mat-elevation-z3">
    <h2>Combo Chart of Transactions by type</h2>
    <google-chart [data]="comboChart"></google-chart>
  </div>
  <div class="mat-elevation-z3">
    <h2>Message Count By Transaction</h2>
    <google-chart [data]="messageCount"></google-chart>
  </div>
  <div class="mat-elevation-z3 full-page">
    <h2>Transactions Amount with range of date and time</h2>
    <google-chart [data]="annotationChart"></google-chart>
  </div>

  <div class="mat-elevation-z3">
    <h2>Amount Transferred By Date</h2>
    <google-chart [data]="amountTransfer"></google-chart>
  </div>
  <div class="mat-elevation-z3">
    <h2>Amount Transaction by each bank</h2>
    <google-chart [data]="amountByBanks"></google-chart>
  </div>
</div>

<button (click)="fabRefresh()" class="fab-icon" mat-fab color="primary">
  <mat-icon>refresh</mat-icon>
</button>
<ng-template #loading>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
