.adjust-text {
  margin-bottom: -3px;
}

.bold-me {
  font-weight: bold;
  color: black;
}

.italic-currency {
  font-weight: bold;
  font-style: italic;
}

::ng-deep mat-list-item {
  span:nth-child(1) {
    color: slategray;
  }
}
