<div class="container">
  <div class="row">
    <div class="col-8">
      <mat-stepper orientation="vertical">
        <mat-step [stepControl]="senderForm" errorMessage="Sender Details are Required!">
          <ng-template matStepLabel>Sender Form</ng-template>
          <ng-template matStepContent>
            <form class="d-flex flex-column" [formGroup]="senderForm">
              <mat-form-field color="primary" appearance="outline">
                <mat-label>Sender A/C Number</mat-label>
                <input (focusout)="fetchDetails()" (keyup.enter)="fetchDetails()" appNumbersOnly
                       formControlName="accountNumber" type="text"
                       matInput
                       placeholder="Sender Account Number">
                <mat-error *ngIf="senderForm.get('accountNumber')?.errors?.required">A/C Number is Required</mat-error>
                <mat-error *ngIf="senderForm.get('accountNumber')?.errors?.minlength">A/C Number must be 14 digits
                  long
                </mat-error>
                <mat-error *ngIf="senderForm.get('accountNumber')?.errors?.maxlength">A/C Number must be 14 digits
                  long
                </mat-error>
              </mat-form-field>
              <mat-form-field color="primary" appearance="outline">
                <mat-label>Sender Name</mat-label>
                <input formControlName="accountName" type="text" matInput placeholder="Sender Name">
              </mat-form-field>
              <mat-form-field color="primary" appearance="outline">
                <mat-label>Sender BIC</mat-label>
                <input formControlName="senderBIC" type="text" matInput>
              </mat-form-field>
              <mat-form-field color="primary" appearance="outline">
                <mat-label>Clear Balance</mat-label>
                <input formControlName="clearBalance" type="text" matInput placeholder="Sender Account Number">
              </mat-form-field>
            </form>
            <button mat-button matStepperNext>Next</button>
          </ng-template>
        </mat-step>
        <mat-step [stepControl]="receiverForm" errorMessage="Receiver Details are required!">
          <ng-template matStepLabel>Receiver Details</ng-template>
          <ng-template matStepContent>


            <form class="d-flex flex-column" [formGroup]="receiverForm">
              <mat-form-field color="primary" appearance="outline">
                <mat-label>Receiver A/C Number</mat-label>
                <input appNumbersOnly formControlName="receiverAccountNumber" type="text"
                       matInput
                       placeholder="Sender Account Number">
                <mat-error *ngIf="receiverForm.get('receiverAccountNumber')?.errors?.required">A/C Number is Required
                </mat-error>
                <mat-error *ngIf="receiverForm.get('receiverAccountNumber')?.errors?.minlength">A/C Number must be 14
                  digits long
                </mat-error>
                <mat-error *ngIf="receiverForm.get('receiverAccountNumber')?.errors?.maxlength">A/C Number must be 14
                  digits long
                </mat-error>

              </mat-form-field>
              <mat-form-field color="primary" appearance="outline">
                <mat-label>Receiver A/C Holder Name</mat-label>
                <input formControlName="receiverAccountName" type="text" matInput
                       placeholder="Receiver Account Holder Name">
              </mat-form-field>
              <mat-form-field (focusout)="fetchBIC()" color="primary" appearance="outline">
                <mat-label>Receiver BIC</mat-label>
                <input formControlName="receiverBIC" type="text" matInput>
                <mat-error *ngIf="receiverForm.get('receiverBIC')?.errors?.required">BIC is Required</mat-error>
                <mat-error *ngIf="receiverForm.get('receiverBIC')?.errors?.minlength">BIC must be 11 characters long
                </mat-error>
                <mat-error *ngIf="receiverForm.get('receiverBIC')?.errors?.maxlength">BIC must be 11 characters long
                </mat-error>
              </mat-form-field>
              <mat-form-field color="primary" appearance="outline">
                <mat-label>Receiver Bank Name</mat-label>
                <input formControlName="receiverBankName" type="text" matInput>
              </mat-form-field>
            </form>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </ng-template>
        </mat-step>
        <mat-step [stepControl]="employeeForm" errorMessage="Transaction Details are required!">
          <ng-template matStepLabel>Transaction Details</ng-template>
          <form class="d-flex flex-column" [formGroup]="employeeForm">
            <mat-form-field appearance="outline">
              <mat-label>Transfer Type</mat-label>
              <mat-select formControlName="transferTypeCode">
                <mat-option *ngFor="let code of transferTypeCodeList |async" [value]="code.value">
                  {{code.name}}
                </mat-option>
              </mat-select>
              <mat-error>Please choose Transfer Type</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Message Code</mat-label>
              <mat-select formControlName="messageCode">
                <mat-option matTooltipPosition="right" [matTooltip]="messageType.description"
                            *ngFor="let messageType of messageCodes |async"
                            [value]="messageType.messageCode">
                  {{messageType.messageCode}}
                </mat-option>
              </mat-select>
              <mat-error>Please choose Message Code</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Currency</mat-label>
              <mat-select (valueChange)="updateINR()" #currencyInput value="INR">
                <mat-option matTooltipPosition="right" [matTooltip]="currency.name"
                            *ngFor="let currency of currencyTypes" [value]="currency.code">
                  {{currency.code}}
                </mat-option>
              </mat-select>
              <mat-error>Please choose Message Code</mat-error>
            </mat-form-field>
            <mat-form-field (keyup)="updateINR()" color="primary" appearance="outline">
              <mat-label>Transaction Amount</mat-label>
              <input class="text-end adjust-text" appNumbersOnly formControlName="amount" placeholder="0" type="text"
                     matInput>
              <span matPrefix>{{getCurrencyItem().symbol}}&nbsp;</span>
              <span matSuffix>.00</span>
            </mat-form-field>
            <mat-form-field color="primary" appearance="outline">
              <mat-label>Total Amount in INR</mat-label>
              <input class="text-end adjust-text bold-me" formControlName="totalAmount" placeholder="0"
                     type="text"
                     matInput>
              <span matPrefix>₹&nbsp;</span>
              <span matSuffix>.00</span>
              <mat-hint>Including Transfer Fee of 0.25% : <span
                class="italic-currency">{{getETC() | currency:'INR' }}</span></mat-hint>
            </mat-form-field>
            <button [disabled]="senderForm.invalid || receiverForm.invalid || employeeForm.invalid" color="primary"
                    mat-raised-button (click)="submit()">Transfer
            </button>
          </form>
        </mat-step>
      </mat-stepper>
    </div>
    <div *ngIf="lastTransaction" class="col-4">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            Last Transaction Details
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <div class="bold-me" mat-subheader>Sender</div>
            <mat-list-item>
              <span mat-line>A/C :</span>
              <span class="bold-me">{{lastTransaction.sender.accountNumber}}</span>
            </mat-list-item>

            <mat-list-item>
              <span mat-line>Name :</span>
              <span class="bold-me">{{lastTransaction.sender.name}}</span></mat-list-item>

            <mat-list-item>
              <span mat-line>Clear Balance :</span>
              <span class="bold-me">{{lastTransaction.sender.clearBalance | currency:'INR'}}
              </span></mat-list-item>

            <div class="bold-me" mat-subheader>Receiver</div>
            <mat-list-item>
              <span mat-line>A/C Number : </span>
              <span class="bold-me">
                {{lastTransaction.receiverAccountNumber}}
              </span>
            </mat-list-item>

            <mat-list-item>
              <span mat-line>A/C Holder Name : </span>
              <span class="bold-me">{{lastTransaction.receiverAccountName}}</span>
            </mat-list-item>

            <mat-list-item>
              <span mat-line>BIC Code:</span>
              <span class="bold-me">{{lastTransaction.receiverBIC}}</span>
            </mat-list-item>

            <div class="bold-me" mat-subheader>Transaction</div>

            <mat-list-item>
              <span mat-line>Transfer Fee:</span>
              <span class="bold-me">{{lastTransaction.transaction.transferFee}}</span>
            </mat-list-item>

            <mat-list-item>
              <span mat-line>Transfer Type Code:</span>
              <span class="bold-me">{{lastTransaction.transaction.transferTypeCode}}</span>
            </mat-list-item>

            <mat-list-item>
              <span mat-line>Transaction Amount:</span>
              <span class="bold-me">{{lastTransaction.transaction.totalAmount}}</span>
            </mat-list-item>

            <mat-list-item>
              <span mat-line>Transaction Date:</span>
              <span class="bold-me">{{lastTransaction.date | date:'medium'}}</span>
            </mat-list-item>

            <mat-list-item>
              <span mat-line>Message Code:</span>
              <span class="bold-me">{{lastTransaction.messageCode}}</span>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
